#main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 60px;
}
.headerContainer {
  text-align: center;
  box-shadow: 0 1px 3px 0px black;
  width: 100%;
  background-color: whitesmoke;
}

.headerContainer h3 {
  font-size: 200%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.headerContainer img {
  border-radius: 100%;
  width: 5%;
  height: 0%;
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.individualProject {
  box-shadow: 0 1px 3px 0px black;
  padding: 40px 40px;
}
.aboutMe {
  width: 35%;
}
.contacts {
  width: 10%;
}
.contacts {
  color: inherit;
}

.contacts > ul > a {
  text-decoration: none;
  display: inline-block;
}

.contacts > ul > a :hover {
  transform: scale(1.2);
  display: inline-block;
  transition: 0.3s;
}

.contacts > ul > a > img,
.copyright {
  float: left;
}

.workImg {
  width: 200px;
  height: 200px;
}
.contacts-footer {
  float: right;
}
.contacts-footer > ul > a > img {
  background-size: 1px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: gray;
}

/* Change the color of links on hover */
.topnav .navLink:hover,
#logo:hover,
#profileImg:hover,
.individualProject:hover {
  background-color: whitesmoke;
  color: inherit;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  display: inline-block;
  transition: 0.3s;
}

/*animation. idea taken from https://codepen.io/safrrhmn/pen/gzJwmG*/
.Iam {
  font: bold 20px/25px large;
  width: 35%;
}
.Iam b {
  float: left;
  overflow: hidden;
  height: 80px;
}

@media only screen and (max-width: 400px) {
  #mainContainer {
    display: flex;
    flex-direction: column;
  }
  .headerContainer img {
    border-radius: 100%;
    width: 25%;
  }
  .Iam {
    font: bold 12px/25px small;
  }
}
.workHeader {
  text-align: center;
}
#mainWorkContainer {
  background-color: whitesmoke;
}

.workFlexContainer > div {
  width: 20%;
}

/*iPad*/
@media only screen and (max-width: 768px) {
  #mainContainer {
    display: flex;
    flex-direction: column;
  }
  .headerContainer img {
    border-radius: 100%;
    width: 25%;
  }
  .contacts > ul > a {
    display: table;
  }
}

.Iam .innerIam {
  display: inline-block;
  text-shadow: 5px 10px 5px wheat;
  position: relative;
  white-space: nowrap;

  /*animation*/
  -webkit-animation: move 10s;
  -moz-animation: move 10s;
  -ms-animation: move 10s;
  -o-animation: move 10s;
  animation: move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 3s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
  100% {
    top: -250px;
  }
}
@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
  100% {
    top: -250px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
  100% {
    top: -250px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
  100% {
    top: -250px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
  100% {
    top: -250px;
  }
}
