.topnav {
  overflow: hidden;
  position: sticky;
  background-color: inherit;
  box-shadow: 0 1px 3px 0px black;
  top: 0;
  width: 100%;
}
/* Style the links inside the navigation bar. idea from  */
.topnav > .navLink {
  color: inherit;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
#logo {
  float: left;
  height: 100px;
}


/* Responsive*/
@media only screen and (max-width: 360px) {
  .topnav {
    display: grid;
  }
  .topnav > .navLink {
    text-align: right;
    padding: 5px 5px;
    font-size: 12px;
  }
  #logo {
    float: left;
    height: 100px;
  }
}
