#main {
  background-color: azure;
  font-family: Bad Script;
  width: 100%;
  margin: 0 auto;
  color: black;
}
.header {
  color:black;
  font-size: 5em;
}
.aboutMe {
  font-family: "Courier New", Courier, monospace;
  word-wrap: none;
  width: 100%;
  text-align: left;
}

/*Grid*/
