body {
  background-color: azure;
  font-family: Bad Script;
  position: absolute;
}
.header {
  color: black;
  font-size: 5em;
}
.aboutMe {
  font-family: "Courier New", Courier, monospace;
  word-wrap: none;
  width: 50em;
  text-align: left;
}

/*Grid*/
