/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.nameBig {
  float: left;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: wheat;
  color: black;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  display: inline-block;
  padding-left: 20px;
  transition: 0.3s;
  font-weight: bold;
}
